// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
// @import 'bootstrap/scss/bootstrap';

// Variables
$link-color: black;
$link-active-color: white;
$link-active-bg: salmon;

.nav-link {
	padding: 10px;
	text-decoration: none;
	color: $link-color;

	// Hover effect untuk link
	&:hover {
		text-decoration: underline;
	}

	// Style untuk link yang aktif
	&.active {
		background-color: $link-active-bg;
		color: $link-active-color;
	}
}
